<header>
  <h1>Hitchcock Inc. MacGuffin Emporium</h1>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Admin', admin_root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact Us', contact_path %></li>
    </ul>
  </nav>
</header>