<div id="cart">
    <table id="cart_display">
        <thead>
            <tr>
              <td>Shopping Cart</td>
            </tr>
        </thead>
        <tfoot>
            <tr>
              <td>Total Items in Cart: <%= @cart_items.count %></td>
            </tr>
            <tr>
              <td>Total Cost: <%= @sum %></td>
            </tr>
        </tfoot>
        <tbody>
            <% @cart_items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= number_to_currency item.price %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>